@use '../config.scss';

$color-primary: 		config.$color-black				!default;
$color-secondary: 		config.$color-grey				!default;
$color-tertiary: 		config.$color-white				!default;
$color-background: 		config.$color-transparent		!default;
$color-accent-1: 		config.$color-gold-dark			!default;
$color-accent-2: 		config.$color-magenta			!default;

/*******************************************************************************
 * navigation
 *******************************************************************************/

.nav-container {
	display: flex;
	flex-direction: row;
	justify-content: center;

	white-space: nowrap;
	width: 100%;
	min-height: 3rem;

	>.nav-title {		
		display: flex;
		align-items: center;

		font-weight: 900;

		>.nav-icon {
			height: 2rem;
			width: auto;
		}
	}

	>.nav-item {
		display: flex;
		align-items: center;

		padding: config.$padding-sm config.$padding-lg;

		>.nav-icon {
			height: 2rem;
			width: auto;
		}
	}

	>.nav-icon {
		display: flex;
		align-self: center;

		margin: config.$margin-sm config.$margin-lg;

		height: 2rem;
		width: auto;
	}

	&.nav-fixed {
		position: fixed;

		left: 0;
		top: 0;
	}
}

.nav-margin {
	margin-top: 2rem;
}