@use '../config.scss';

$color-primary: 		config.$color-black				!default;
$color-secondary: 		config.$color-grey				!default;
$color-background: 		config.$color-transparent		!default;
$color-accent: 			config.$color-magenta			!default;

/*******************************************************************************
 * base
 *******************************************************************************/
html, body {
	margin: 0;
	background-color: 	$color-background;
}

html {
	font-size: config.$font-base;
	font-family: config.$font-family;
	color: $color-primary;
}