@use '../config.scss';

$color-primary: 		config.$color-black				!default;
$color-secondary: 		config.$color-grey				!default;
$color-tertiary: 		config.$color-white				!default;
$color-background: 		config.$color-transparent		!default;
$color-accent-1: 		config.$color-gold-dark			!default;
$color-accent-2: 		config.$color-magenta			!default;

/*******************************************************************************
 * box
 *******************************************************************************/

.box {
	display: flex;
	flex-direction: column;
	border-radius: config.$border-round;
	// justify-content: center;
	// align-items: center;

	// margin: config.$margin-base;

	&>* {
		display: inline-flex;
		flex-wrap: wrap;
		// justify-content: center;
		// align-items: center;
	}
}