@use '../config.scss';

$color-primary: 		config.$color-black				!default;
$color-secondary: 		config.$color-grey				!default;
$color-tertiary: 		config.$color-white				!default;
$color-background: 		config.$color-transparent		!default;
$color-accent-1: 		config.$color-gold-dark			!default;
$color-accent-2: 		config.$color-magenta			!default;

/*******************************************************************************
 * code
 *******************************************************************************/

code {
	margin: config.$margin-base 0 config.$margin-base;
	padding: config.$padding-sm config.$padding-base;
	
	border-radius: config.$border-round;
	background: $color-secondary;
	white-space: nowrap;
}

pre {
	border-radius: config.$border-round;
	background: config.$color-grey-light;

	&>code {
		display: block;
		margin: 0;
		padding: config.$padding-base;
		
		white-space: pre-wrap;
		word-wrap: break-word;
	}
}