@use '../config.scss';

$color-primary: 		config.$color-black				!default;
$color-secondary: 		config.$color-grey				!default;
$color-tertiary: 		config.$color-white				!default;
$color-background: 		config.$color-transparent		!default;
$color-accent-1: 		config.$color-gold-dark			!default;
$color-accent-2: 		config.$color-magenta			!default;

/*******************************************************************************
 * table
 *******************************************************************************/

table {
	border-spacing: 0;
	text-align: left;
	overflow-x: auto;
}

table, tr, thead, tbody {
	display: block;
	width: 100%;
}

tr {
	display: flex;
	flex-wrap: nowrap;

	&>th, &>td {
		display: flex;
		flex: 1 0 0;
		padding: config.$padding-base config.$padding-lg;
		border-bottom: config.$border-sm solid $color-primary;

		word-wrap: break-word;
	}

	&>th {
		font-weight: 700;
		background-color: $color-secondary;
	
		&:first-child {
			border-radius: config.$border-round 0 0 0;
		}
	
		&:last-child {
			border-radius: 0 config.$border-round 0 0;
		}
	}
}