@use '../config.scss';

$color-primary: 		config.$color-black				!default;
$color-secondary: 		config.$color-grey				!default;
$color-tertiary: 		config.$color-white				!default;
$color-background: 		config.$color-transparent		!default;
$color-accent-1: 		config.$color-gold-dark			!default;
$color-accent-2: 		config.$color-magenta			!default;

/*******************************************************************************
 * table
 *******************************************************************************/
table, tr, thead, tbody {
	display: block;
	border-spacing: 0;
	text-align: left;
	width: 100%;

	&>tr {
		margin: 0 0 config.$margin-base;
		border-bottom: config.$border-sm solid $color-primary;
	}
}

th, td {
	padding: 0 config.$padding-base;
  
	&:first-child {
		padding-left: 0;
	}
  
	&:last-child {
		padding-right: 0;
	}
}
