@use '../config.scss';

$color-primary: 		config.$color-black				!default;
$color-secondary: 		config.$color-grey				!default;
$color-tertiary: 		config.$color-white				!default;
$color-background: 		config.$color-transparent		!default;
$color-accent-1: 		config.$color-gold-dark			!default;
$color-accent-2: 		config.$color-magenta			!default;

/*******************************************************************************
 * typography
 *******************************************************************************/
h1, h2, h3, h4, h5, h6, p {
	margin: config.$margin-base 0 config.$margin-base;
}

h1 {
	font-size: config.$font-1;
}

h2 {
	font-size: config.$font-2;
}

h3 {
	font-size: config.$font-3;
}

h4 {
	font-size: config.$font-4;
}

h5 {
	font-size: config.$font-5;
}

h6 {
	font-size: config.$font-6;
}

b, strong {
	font-weight: 900;
}