@use '../config.scss';

$color-primary: 		config.$color-black				!default;
$color-secondary: 		config.$color-grey				!default;
$color-tertiary: 		config.$color-white				!default;
$color-background: 		config.$color-transparent		!default;
$color-accent-1: 		config.$color-gold-dark			!default;
$color-accent-2: 		config.$color-magenta			!default;

/*******************************************************************************
 * util
 *******************************************************************************/

/** flexbox **/
.flex {
	display: flex;
}

.justify-start {
	justify-content: flex-start;
}

.justify-center {
	justify-content: center;
}

.justify-end {
	justify-content: flex-end;
}

.align-start {
	align-content: flex-start;
}

.align-center {
	align-content: center;
}

.align-end {
	align-content: flex-end;
}

.direction-vertical {
	flex-direction: column;
}

.direction-horizontal {
	flex-direction: row;
}

.center {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

 /** position **/
 .position-relative {
	position: relative;
}

.position-absolute {
	position: absolute;
}

.position-fixed {
	position: fixed;
}

/** size **/
.full-height {
	min-height: 100vh;
}

.full-width {
	width: 100%;

}

.size-full {
	width: 100%;
	min-height: 100vh;
}

/** visiblity **/
.hidden {
	visibility: hidden;
	display: none;
}

/** float **/
.float-left {
	float: left;
}

.float-right {
	float: right;
}