$font-base: 16px;

/*******************************************************************************
 * fonts
 *******************************************************************************/
//  @import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Oxygen+Mono&display=swap');
$font-family: 'Cantarell', 'Candara', 'Fira Sans', 'Helvetica Neue', 'Arial', sans-serif;

/*******************************************************************************
 * typography
 *******************************************************************************/
$font-1: 2.50rem;
$font-2: 2.25rem;
$font-3: 2.00rem;
$font-4: 1.75rem;
$font-5: 1.50rem;
$font-6: 1.25rem;

$font-small-1: 1.625rem;
$font-small-2: 1.500rem;
$font-small-3: 1.500rem;
$font-small-4: 1.375rem;
$font-small-5: 1.250rem;
$font-small-6: 1.125rem;

$font-small: 0.75rem;

/*******************************************************************************
 * color
 *******************************************************************************/
$color-black: 			#3a3939;
$color-white: 			#fafafa;

$color-grey: 			#c7c1c1;
$color-grey-light: 		#e4e0e0;
$color-grey-dark: 		#4e4c4c;

$color-gold: 			#ffda14;
$color-gold-light: 		#ece8c5;
$color-gold-dark: 		#8a7400;

$color-magenta: 		#ff00ff;
$color-magenta-light: 	#ff99ff;
$color-magenta-dark: 	#a100a1;

$color-transparent: 	#0000;

/*******************************************************************************
 * border
 *******************************************************************************/
$border-sharp: 0px;
$border-round: 4px;
$border-sm: 1px;
$border-lg: 4px;

@function border($color) {
	@return (
		border-radius: $border-round,
		border: $border-width solid $color
	);
}

/*******************************************************************************
 * spacing
 *******************************************************************************/
$margin-base: 1rem;

$padding-base: 0.5rem;
$padding-sm: 0.25rem;
$padding-lg: 1rem;

/*******************************************************************************
 * transitions
 *******************************************************************************/
$transition-short: all .2s ease;
$transition-long: all .4s ease;